.transaction-form-component
{
    height: 70vh ;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    float: right;
    border: none;
    outline: none;
    box-shadow: 5px 5px 5px 5px #2C2828;
    background: rgb(97,185,223);
    background: linear-gradient(90deg, rgba(97,185,223,1) 0%, rgba(113,181,203,1) 52%, rgba(190,229,235,1) 92%);
    backdrop-filter: blur(10px);
    margin: 40px 50px 0px 0px;
    margin-top: 20vh;
    color: var(--textcol);

}
label{
    display:block;
    margin-top: 20px;
}
input{
    width: 25vw;
    padding: 5px;
    margin-top: 2px;
    outline: none;
    border: 1px solid;
    border-radius: 0px;
}
.signin-checkbox-input{
    width: 2vw;
}
.transaction-form-title{
    padding-bottom: 20px;
    color: var(--textcol)
}
.transaction-submit-button{
    width: 100px;
    padding: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #006ee6;
    color: aliceblue;
}