
.signin-form-component
{
    height: 70vh ;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgb(97,185,223);
    background: linear-gradient(90deg, rgba(97,185,223,1) 0%, rgba(113,181,203,1) 52%, rgba(190,229,235,1) 92%);
    backdrop-filter: blur(10px);
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 50px;
    margin-top: 20vh;
    color: var(--textcol);

}
label{
    display:block;
    margin-top: 20px;
}
input{
    padding: 5px;
    margin-top: 2px;
    outline: none;
    border: none;
    border-radius: 20px;
}
.signin-form-component form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sigin-form-title{
    padding-bottom: 20px;
    color: var(--textcol)
}
.signin-form-subtitle{
    color: var(--textcol);
}
.signin-submit-button{
    width: 100px;
    padding: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}
.google-login-component{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 5vh;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: #1877f2;
}
.google-logo{
    height: 4.5vh;
    width: 2vw;
    background-color: aliceblue;
    margin-left: 2px;
    border-radius: 3px;
}
.google-login-submit-button{
    width: 200px;
    cursor: pointer;
    outline: none;
    border: none;
    color: aliceblue;
    background-color: #1877f2;
}
.signin-forget-password{
    display: block;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
}
.signin-email-input{
    width: 25vw;
}

.signin-password-input{
    width: 25vw;
}